@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

    <div class="text-center">
        <h1 class="display-4">Adam Krzysztof Gawryś - 113025</h1>
        <h2 class="display-4">Informatyka stosowana grupa 4</h2>
    </div>
