@page
@model PrivacyModel
@{
    ViewData["Title"] = "O mnie";
}
<div class="text-center">
    <h1 class="display-4">Prawie ambitny student informatyki</h1>
    <h2 class="display-4">Poza tym wieczny leń</h2>
</div>